<!-- About Me section -->
<section
	class="more-about-section-wrapper"
	id="more-about-section-wrapper"
>
	<div
		class="more-about hidden-until-in-viewport"
		id="more-about"
	>
		<h2 class="more-about-title">More About Me</h2>
		<p
			class="more-about-text"
			id="more-about-paragraph-1"
		>
			I see every bit of code I write as an opportunity to build something interesting, engaging, exciting and/or fun.
			In my opinion, a project isn't complete unless it is user-friendly, serves its intended purpose(s), and looks good
			while doing it. With an eye for design and a zest for solving complex problems, I strive to create seamless and
			responsive digital experiences.
		</p>
		<p
			class="more-about-text"
			id="more-about-paragraph-2"
		>
			My journey into the world of web development began a couple years ago. Since I received my first computer at
			thirteen years old, I have always wanted to know how to make websites. After college, I went to work in the real
			estate sector, however after moving with my wife from my hometown to a new market and finding myself at a point
			where I had essentially hit a reset switch on that career, I decided it would be a good opportunity to make a
			change and pursue web development as a new career. Since I began learning, I haven't looked back or regretted my
			choice. In fact, my only real regret is that I didn't go down this path sooner. C'est la vie!
		</p>
		<p
			class="more-about-text"
			id="more-about-paragraph-3"
		>
			I greatly enjoy constructing the user-facing portion of a website using HTML, CSS and JavaScript, however I also
			understand the back-end needs of a modern website, making use of MongoDB as well as its ancillary technologies
			such as Mongoose to build robust and scalable web applications and databases, to provide a rich, full-fledged
			experience for users of a website.
		</p>
		<p
			class="more-about-text"
			id="more-about-paragraph-4"
		>
			I am a people-person and look forward to working closely with clients and cross-functional teams to transform
			ideas into tangible, engaging digital solutions. Whether it's revamping an existing website or starting from
			scratch, I approach each project with enthusiasm and a commitment to delivering high-quality results. I'm always
			open to new challenges and eager to contribute my skills to projects that make a positive impact.
		</p>
		<p
			class="more-about-text"
			id="more-about-paragraph-5"
		>
			In addition to my technical skills, I value clean and efficient code, adhering to best practices and industry
			standards. I believe that great code is not only functional but also easy to understand and maintain.
		</p>
		<p
			class="more-about-text"
			id="more-about-paragraph-6"
		>
			When I'm not coding, you can find me on the trail, multi-day backpacking with my wife or enjoying a quick day-trip
			outing, exploring the many delicious culinary options around the Greater Portland Metro Area, or simply indulging
			in a good, warm (not too hot!) cup of hot chocolate.
		</p>
		<p
			class="more-about-text"
			id="more-about-paragraph-7"
		>
			Thank you for stopping by, and I look forward to the opportunity to put my skills to use toward you or your
			company's next web development project! Please reach out via the contact form below if you would like to talk, or
			just to learn more about me. :)
		</p>
		<div class="more-about-read-more-button-container">
			<button
				type="button"
				name="moreAboutSectionReadMoreButton"
				class="more-about-section-read-more-button animate__animated animate__slow"
			>
				Expand this section
			</button>
		</div>
		<a
			class="more-about-read-more-button-link-container-no-script"
			href="#more-about-section-wrapper"
		>
			<button
				type="button"
				name="moreAboutSectionReadMoreButton"
				class="more-about-read-more-button-no-script"
			>
				Expand this section
			</button>
		</a>
	</div>
</section>
