<!-- Footer section -->
<hr id="footer-horizontal-rule" />
<footer
	class="footer"
	id="footer"
>
	<div id="footer-text-container">
		<div id="footer-top-line">
			<p id="built-with">
				Built on a
				<span
					title="Apple Macintosh computer"
					id="mac-emoji"
				>
					&#x1F4BB;
				</span>
				with
				<span
					title="Heart"
					id="heart-emoji"
				>
					&#x1FAC0;
				</span>
				&
				<span
					title="Brain"
					id="brain-emoji"
				>
					&#x1F9E0;
				</span>
				in
				<span title="Oregon">
					<img
						id="oregon-flag-emoji"
						src="/icons/oregon-flag.png"
					/>
				</span>
				by
				<a
					href="https://ZachSteinberg.com"
					target="_blank"
				>
					Zach Steinberg
				</a>
			</p>
			<span>|</span>
			<p>
				<a href="https://www.github.com/ZachSteinberg-webdev/portfolio-site">
					View code on GitHub
				</a>
			</p>
		</div>
		<p id="copyright">&copy; Copyright 2025 All rights reserved. Most lefts, too.</p>
	</div>
</footer>
