<!-- "Hero" section (top-most section) -->
<section
	class="hero-section-wrapper"
	id="hero-section-wrapper"
>
	<div
		class="hero hidden-until-in-viewport"
		id="hero"
	>
		<div class="hero-container">
			<h2 class="bio-title">Hey there!</h2>
			<div class="bio-container">
				<div class="bio">
					<p class="bio-text">
						Welcome to my website! My name is Zach Steinberg. I'm a newly-minted web developer, ready for anything I can
						sink my teeth into. I have a passion for creativity, and I truly enjoy applying that passion toward web
						development with the goal of crafting beautiful and user-friendly websites.
					</p>
				</div>
				<div class="hero-pic-container">
					<img
						id="hero-memoji"
						src="/memojis/Zach-Memoji-waving.png"
						alt="Zach waving hello memoji"
					/>
				</div>
			</div>
		</div>
		<div class="hero-container-under-700-px">
			<h2 class="bio-title-under-700-px">Hey there!</h2>
			<div class="bio-container-under-700-px">
				<div class="bio-under-700-px">
					<p class="bio-text-under-700-px">
						Welcome to my website! My name is Zach Steinberg. I'm a newly-minted web developer, ready for anything I can
						sink my teeth into.
					</p>
				</div>
				<div class="bio-text-p2-and-hero-pic-under-700-px">
					<div class="bio-text-p2-under-700-px">
						I have a passion for creativity, and I truly enjoy applying that passion toward web development with the
						goal of crafting beautiful and user-friendly websites.
					</div>
					<div class="hero-pic-container-under-700-px">
						<img
							id="hero-memoji-under-700-px"
							src="/memojis/Zach-Memoji-waving.png"
							alt="Zach waving hello memoji"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
