<noscript
	class="no-script-tag"
	id="no-script-tag"
>
	<div
		class="no-script-container"
		id="no-script-container"
	>
		<div class="no-script-top-container">
			<div class="no-script-dummy-container"></div>
			<div class="no-script-heading-container">
				<a
					href="#no-script-dialog-container"
					class="no-script-learn-more-link"
				>
					<div class="no-script-heading-first-line">
						<p>It looks like you have JavaScript disabled!</p>
					</div>
					<div class="no-script-heading-second-line">
						<p>Click here to learn more.</p>
					</div>
				</a>
			</div>
			<a
				href="#no-script-tag"
				id="close-no-script-warning-link-wrapper"
			>
				<div class="close-no-script-warning-container">
					<img
						class="close-no-script-warning-icon"
						src="/icons/close.png"
						alt="Click here to close the script blocker dialog."
					/>
				</div>
			</a>
		</div>
		<div
			class="no-script-dialog-container"
			id="no-script-dialog-container"
		>
			<a href="https://www.enablejavascript.io/">
				<p class="no-script-dialog no-script-dialog-first-paragraph">
					You have scripts disabled in your browser! That's totally cool, however this website relies heavily on
					JavaScript. For the best experience, you might consider enabling scripts for this domain. You'll get a
					dropdown navigation menu on smaller screens (commonly referred to as a "hamburger" menu), animations
					throughout the page and a working contact form.
				</p>
				<p class="no-script-dialog no-script-dialog-second-paragraph">
					If you're purposefuly running a script-blocking extension, you probably know how to deactivate it already. If
					you're surprised to be seeing this message, or have no idea what JavaScript is or how to enable it, you can
					click on this paragraph or the previous paragraph for detailed instructions. Or click the button at top-right
					of this message to hide the warning. Happy browsing! :)
				</p>
			</a>
			<a
				class="no-script-dialog-hide-link"
				href="#"
			>
				<button
					class="no-script-dialog-hide-button"
					type="button"
					name="button"
				>
					Hide this message
				</button>
			</a>
		</div>
	</div>
</noscript>
