<%layout("layouts/boilerplate")%>
<%block('head').append(`<link rel="stylesheet" href="/css/status404.css">`) %>
<%block('head').append(`<title>Thank you!</title>`) %>
<div class="status-404-container">
	<div class="status-404-heading-container">
		<h1 class="status-404-heading">Thank you!</h1>
	</div>
	<div class="status-404-emoji-container">
		<img class="status-404-emoji" src="/memojis/Zach-Memoji-thumbs-upping.png" alt="Thank you!">
	</div>
	<div class="status-404-text-container">
		<p class="status-404-text">Thank you for getting in touch with me! I should be able to get back to you within 24 hours.</p>
		<p class='status-404-go-back-text'>
			<a class='status-404-go-back-link-icon' href="/">
				<span class='status-404-go-back-icon'>☜</span>
			</a>
			<a class='status-404-go-back-link' href="/">
				Go back to the home page
			</a>
		</p>
	</div>
</div>
